# Project exclude paths
/.gradle/
/Topics/Random/Find the seed/out/
/Topics/Random/Find the seed/out/production/classes/
/Topics/Random/Gaussian random numbers/out/
/Topics/Random/Gaussian random numbers/out/production/classes/